:root { 
--deep_purple_A200_19:#7b61ff19; 
--pink_400_19:#f2567219; 
--amber_700:#ed9c00; 
--amber_600_19:#d0bb0019; 
--green_600:#27ae60; 
--gray_100:#f6f6f6; 
--green_600_19:#27ae6019; 
--black_900_33:#00000033; 
--black_900:#000000; 
--amber_700_19:#ed9c0019; 
--blue_gray_400_05:#8c8c8c05; 
--white_A700_05:#ffffff05; 
--deep_purple_A200:#7b61ff; 
--pink_400:#f25672; 
--black_900_05:#00000005; 
}