
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/WorkSansSemiBold.ttf"); font-family : "Work Sans"; font-weight : 600;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/IBMPlexMono.ttf"); font-family : "IBM Plex Mono"; font-weight : 400;  }